<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://c0.wallpaperflare.com/preview/275/261/297/agreement-business-businessman-businesswoman.jpg);">
  <div class="container">
    <h1>Simple contact management and marketing automation in one, easy-to-use system</strong></h1>
    <p>The best client manager on the market in 2021</p>
    <%= link_to 'Get started', clients_path, class: "btn btn-primary" %>
  </div>
</div>
